<h1>Create Tea</h1>

<%= form_for(@tea) do |f| %>
    <label>Tea Name:</label><br>
    <%= f.text_field :name %><br>

    <label>Instructions for Preparation:</label><br>
    <%= f.text_area :preparation %><br>

    <%# Select or Create Benefits %>
    <div><%= f.label "Benefits" %></div>
    <div><%= f.collection_check_boxes :benefit_ids, Benefit.all, :id, :name %></div>

    <div><%= f.label "New Benefit" %></div>
    <%= f.fields_for :benefits, @tea.benefits.build do |benefit| %>
    <%= benefit.label :name %>
    <%= benefit.text_field :name  %>
    <% end %>

    <%# Select or Create Ingredients %>
    <div><%= f.label "Ingredients" %></div>
    <div><%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %></div>

    <div><%= f.label "New Ingredient" %></div>
    <%= f.fields_for :ingredients, @tea.ingredients.build do |ingredient| %>
    <%= ingredient.label :name %>
    <%= ingredient.text_field :name  %>
    <% end %>

    <%= f.submit %>
<% end %>
